{{define "content"}}
<div id="main">
  <div id="recent-publications" class="micro-list">
    <h3>Recent Publications</h3>
    <ol>
    {{range .RecentPublications}}
      <li class="micro-preview bhv-recent-publication">
        <a href="/p/{{.Slug}}">{{.Title}}</a>
      </li>
    {{end}}
    </ol>
  </div>
  <div id="top-publications" class="micro-list">
    <h3>Popular Publications</h3>
    <ol>
    {{range .PopularPublications}}
      <li class="micro-preview bhv-popular-publication">
        <a href="/p/{{.Slug}}">{{.Title}}</a>
      </li>
    {{end}}
    </ol>
  </div>
    <div id="rubrics" class="micro-list">
      <h3>Rubrics</h3>
      <ul>
        {{range .Rubrics}}
        <li class="micro-preview">
          <a href="/r/{{.Slug}}">{{.Title}}</a>
        </li>
        {{end}}
      </ul>
    </div>
</main>{{end}}
