{{define "content"}}
<div id="main">
  <div id="recent-publications" class="publications-micro-list">
    <h3>Recent Publications</h3>
    <ol>
    {{range .RecentPublications}}
      <li class="publication-preview">
        <a href="/p/{{.Slug}}">{{.Title}}</a>
      </li>
    {{end}}
    </ol>
  </div>
  <div id="top-publications" class="publications-micro-list">
    <h3>Popular Publications</h3>
    <ol>
    {{range .PopularPublications}}
      <li class="publication-preview">
        <a href="/p/{{.Slug}}">{{.Title}}</a>
      </li>
    {{end}}
    </ol>
  </div>
</main>{{end}}
