{{define "content"}}
<main>
  <article id="bhv-blog__description">
    {{.Blog.Description}}
  </article>
  <div id="ns-recent" class="micro-list">
    <h3>Recent Publications</h3>
    <ol>
    {{range .RecentPublications}}
      {{template "publication--li" .}}
    {{end}}
    </ol>
  </div>
  <div id="ns-popular" class="micro-list">
    <h3>Popular Publications</h3>
    <ol>
    {{range .PopularPublications}}
      {{template "publication--li" .}}
    {{end}}
    </ol>
  </div>
  <div class="micro-list">
    <h3>Rubrics</h3>
    <ol>
      {{range .Rubrics}}
        {{template "rubric--li" .}}
      {{end}}
    </ol>
  </div>
</main>{{end}}
